PORT=3000
NODE_ENV=production
REQUIRE_AUTH=true
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=change-me
HEADLESS=true
AUTO_OPEN_BROWSER=false
# CHROME_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
